body {
  align-items: center;
  background: #000;
  display: flex;
  justify-content: center;
}

container {
  align-items: center;
  display: flex;
  background: #000;
  height: 100%;
  justify-content: center;
  perspective: 1200px;
  width: 100%;
}

viewscreen {
  align-items: center;
  display: flex;
  height: 600px;
  justify-content: center;
  transform: rotateY(16deg) rotateX(0deg);
  transition: transform .6s, opacity .1s;
  width: 972px;
}

/* MAP PANEL */
#map-panel {
  perspective: 600px;
}

#map-panel > #map-base {
  border: 1px solid #0ac;
  transform: rotateX(90deg) rotateZ(0deg) translateZ(-146px);
  height: 500px;
  width: 500px;
}
